<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requisitos Importantes</title>
    <link rel="stylesheet" href="~/css/sendBoxPage.css" />
    <link rel="stylesheet" href="~/css/SendBoxPageFollow.css" />
</head>


<body>

    <div class="seguimiento-container">
        <h2 class="seguimiento-title">Seguimiento de Encomiendas</h2>
        <div class="empresas-seguimiento">
@*             <div class="empresa-seguimiento">
                <a href="https://www.viacargo.com.ar/" target="_blank">
                    <img src="/img/encomiendas/ViaCargo.png" alt="Via Cargo">
                </a>
            </div> *@
            <div class="empresa-seguimiento">
                <a href="https://www.buspack.com.ar/" target="_blank">
                    <img src="/img/encomiendas/BuscaPack.png" alt="Buspack Express">
                </a>
            </div>
            <div class="empresa-seguimiento">
                <a href="https://mdcargasoficial.com/" target="_blank">
                    <img src="/img/encomiendas/MDCargas.png" alt="MD Cargas">
                </a>
            </div>
            <div class="empresa-seguimiento">
                <a href="https://cruceroexpress.com.ar/seguimientos/SeguimientoEncomiendas.html" target="_blank">
                    <img src="/img/encomiendas/CruceroExpress.png" alt="Crucero Express">
                </a>
            </div>
        </div>
    </div>

    <div class="requisitos-container">
        <div class="seccion-requisitos">
            <h3 class="titulo-seccion" data-seccion="facturacion"><span>Requisitos para Facturación</span></h3>
            <ol class="contenido-seccion oculto" id="facturacion">
                <li> Presentar <strong>DNI (persona física)</strong> o <strong>Razón Social (persona jurídica)</strong> para emitir la factura.</li>
                <li> Presentar documentos de la mercadería transportada: factura legal y/o nota de remisión. Solicitar seguro de envío para resguardo de sus encomiendas.</li>
                <li> Verificar la mercadería con el encargado de <strong>TURISMO TRIUNVIRATO</strong> en el momento del envío.</li>
            </ol>
        </div>

        <div class="seccion-requisitos">
            <h3 class="titulo-seccion" data-seccion="despacho"><span>Requisitos de Despacho</span></h3>
            <ul class="contenido-seccion oculto" id="despacho">
                <li> Forrar con papel madera, cinta gruesa de embalar y realizar rótulos con los datos completos del remitente y el destinatario (<strong>Surname y Name, DNI, domicilio y teléfono</strong>).</li>
            </ul>
        </div>

        <div class="seccion-requisitos">
            <h3 class="titulo-seccion" data-seccion="retiro"><span>Para Realizar un Retiro</span></h3>
            <ol class="contenido-seccion oculto" id="retiro">
                <li> Presentar <strong>DNI (persona física)</strong> o <strong>Razón Social (persona jurídica)</strong>.</li>
                <li> Autorización de la empresa para el retiro de las mercaderías correspondientes y fotocopia de DNI, si la mercadería viene a Name de una empresa.</li>
                <li> En caso de que terceros retiren la encomienda, entregar autorización y fotocopia de DNI.</li>
                <li> Firma y aclaración de la guía de entrega.</li>
                <li> Verificar la mercadería con el encargado de <strong>TURISMO TRIUNVIRATO</strong> en el momento de la entrega.</li>
            </ol>
        </div>

        <p class="nota">Una vez firmada la guía de entrega no se aceptan reclamos posteriores.</p>
    </div>


    <script src="~/js/sendBoxPage.js"></script>
</body>
</html>