version: "3.8"

services:
  db:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_DATABASE: u364059446_turismo
      MYSQL_USER: u364059446_adm
      MYSQL_PASSWORD: "Tur1sm0.25."
      MYSQL_ROOT_PASSWORD: "Tur1sm0.2025."
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h 127.0.0.1 -uroot -p\"Tur1sm0.2025.\" --silent"]
      interval: 10s
      timeout: 5s
      retries: 12

  app:
    build:
      context: .
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    environment:
      ConnectionStrings__DefaultConnection: "Server=db;Port=3306;Database=u364059446_turismo;Uid=u364059446_adm;Pwd=Tur1sm0.25.;"
      ASPNETCORE_URLS: "http://+:8080"
    restart: unless-stopped

volumes:
  db_data:
