@{
    ViewData["Title"] = "Completar Perfil";
}

<h2>Crear Cuenta - Paso 3</h2>
<form method="post" asp-action="CompletarPerfil">
    <div class="form-group">
        <label>Name:</label>
        <input type="text" name="Name" required class="form-control" />
    </div>
    <div class="form-group">
        <label>Surname:</label>
        <input type="text" name="Surname" required class="form-control" />
    </div>
    <div class="form-group">
        <label>País:</label>
        <input type="text" name="Pais" required class="form-control" />
    </div>
    <div class="form-group">
        <label>Contraseña:</label>
        <input type="text" name="Contraseña" required class="form-control" />
    </div>
    <br>
    <button type="submit" class="btn btn-success">Guardar</button>
</form>
